<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanmani</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <script>
        var lyrics_data = null;
        function beautifyseconds(seconds){
            var minutes = Math.floor(seconds / 60);
            var seconds = Math.floor(seconds % 60);
            return `${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
        }
        async function get_lyrics(){
            await fetch("/lyrics")
            .then(response => response.json())
            .then(data => {
                lyrics_data = data;
            });
        }
        function add_lyrics(){
            if (!lyrics_data) return;
            if(!lyrics_data.lyrics) return;
            var container = document.getElementById("lyrics")
            document.documentElement.classList.remove("no-lyrics");
            for (let lineIndex = 0; lineIndex < lyrics_data.lyrics.length; lineIndex++) {
                const line = lyrics_data.lyrics[lineIndex];
                const elem = document.createElement("span");
                elem.classList.add("line");
                elem.textContent = line.text;
                container.appendChild(elem);
            }
        }
        function update_lyrics_position(elapsed){
            if(!lyrics_data) return;
            if(!lyrics_data.synchronized) return;
            var container = document.getElementById("lyrics");
            container.classList.add("synchronized");
            // we get the active line
            let lineIndex = lyrics_data.lyrics.length - 1;
            for (let i = -1; i < lyrics_data.lyrics.length; i++) {
                // @ts-ignore
                if (elapsed < lyrics_data.lyrics[i + 1].time) {
                    lineIndex = i;
                    break;
                }
            }
            var wasActiveBefore = container.children[lineIndex].classList.contains("active");
            for (let i = 0; i < container.children.length; i++) {
                const line = container.children[i];
                if (i === lineIndex){

                    if(line.classList.contains("empty")){
                        // determine empty progress
                        const emptyProgress = [...line.children].find(x => x.classList.contains("empty-progress"));
                        const percentageToGo = (elapsed - lyrics_data.lyrics[i].time) / ((lyrics_data.lyrics[i + 1].time || songdata.metadata.length) - lyrics_data.lyrics[i].time);
                        emptyProgress.style.setProperty("--waitTime", `${percentageToGo}`);
                    }

                    line.removeAttribute("distance");
                    line.classList.add("active");
                }else{
                    const distance = Math.max(-4, Math.min(i - lineIndex, 4));
                    line.setAttribute("distance", `${distance}`);
                    line.classList.remove("active");
                }
            }

            animateStatus = animateScroll(container.children[lineIndex]);
        }
        function animateScroll(element, duration) {
            if(!element) return;
            if(!duration) duration= 500;

            const parent = element.parentElement;
            if(!parent) return;

            let start;

            const begin = parent.scrollTop;
            const goal = ((element.offsetTop - parent.offsetTop) + (element.offsetHeight / 2)) - (parent.offsetHeight / 2);

            const status = {
                invalidated: false,
                completed: false
            };

            function step(timestamp){
                if (start === undefined)
                    start = timestamp;

                const elapsedTimestamp = timestamp - start;
                const elapsed = Math.min(1, elapsedTimestamp / duration);
                const easing = (t) => 1 + --t * t * t * t * t;
                const timed = easing(elapsed);

                const target = begin * (1 - timed) + goal * timed;

                if (elapsed >= 1 || parent.matches(`${parent.nodeName}:hover`) || status.invalidated) {
                    status.completed = true;
                    return;
                }

                parent.scrollTo({
                    top: target,
                    behavior: "instant"
                });

                window.requestAnimationFrame(step);
            }
            window.requestAnimationFrame(step);
            return status;
        }
        async function update(){
            var response = await fetch("/data");
            var data = await response.json();
            var prev_song_name = document.querySelector('.song-title').innerHTML;
            document.querySelector('.song-artist').innerHTML = data.artist;
            document.querySelector('.song-title').innerHTML = data.title;
            document.querySelector('.thumbnail').style.background =`url('${data.thumbnail}') center/cover no-repeat`;
            document.querySelector(".background").style.backgroundImage = `url('${data.thumbnail}')`;

            var response = await fetch("/currentposition");
            var data = await response.json();
            var slider = document.getElementById("seekbar");
            // value would be current% of max value
            slider.setAttribute("value", data.now);
            slider.setAttribute("max", data.end);
            slider.setAttribute("min", 0);
            document.getElementById("starttime").innerHTML = beautifyseconds(data.now);
            document.getElementById("endtime").innerHTML = beautifyseconds(data.end);
            var lyrics_container = document.getElementById("lyrics");
            if(!lyrics_container){
                return; // in this case we don't have any place to show lyrics. 
            }
            if(prev_song_name != document.querySelector('.song-title').innerHTML){
                var container = document.getElementById("lyrics");
                container.classList.remove("synchronized");

                while(container.firstChild){
                    container.removeChild(container.lastChild);
                }
                await get_lyrics();
                // place lyrics in the lyrics div
                
                if(!lyrics_data){
                    document.documentElement.classList.add("no-lyrics");
                    const noLyrics = document.createElement("span");
                    noLyrics.classList.add("line");
                    noLyrics.textContent = "No lyrics found";
                    container.appendChild(noLyrics);
                    noLyrics.scrollIntoView({
                        inline: "center",
                        block: "center",
                        behavior: "smooth"
                    });
                    return;
                }
                add_lyrics();
            }
            update_lyrics_position(data.now+1); // add 1 second cuz we believe it take time to do above things
        }
        async function previous(){
            await fetch("/prev");
        }
        async function next(){
            await fetch("/next");
        }
        async function playpause(){
            var result = await fetch("/playpause");
            var data = await result.text();
            console.log(data);
            var playing = data == "True";
            var pp = document.getElementById("playpause");
            if(playing){
                pp.classList.remove("fa-play");
                pp.classList.add("fa-pause");
            }  
            else{
                pp.classList.remove("fa-pause");
                pp.classList.add("fa-play");
            }
        }
        document.addEventListener("DOMContentLoaded", function(){
            update();
            setInterval(update, 1000);
        });
    </script>
    {% block head_content %}{% endblock %}
</head>
<div class="content">
    {% block content %}{% endblock %}
</div>
</html>